.header{
  display: grid;
  grid-template-columns: 1fr 1fr ;
    /* width: 100vw;
    height: 70vh; */
    background-color:rgb(255, 205, 158);
    margin-bottom: 0;
  }
  @media screen and (max-width:999px){
    .header{
      display:grid;
      grid-template-columns: 1fr;
     }
     .man-img{
      padding-bottom: 120px;
      padding-left: 120px;
      
      /* align-items: center  ; */

     }
    
  }
  .left-header{
    padding: 150px 150px 150px 150px ;
  }
  .left-title{
    padding-bottom: 20px;
    text-align: center;
  }

  h3{
    padding-top: 20px;
    padding-bottom: 35px;
  }
  